@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Darumadrop+One&display=swap');

/* Waves patterns from https://www.shapedivider.app/ */

:root {
    --accent: #47caa3;
    --background: #d9ece9;
    --main-text: #0b2b49;
    --header-text: #0e8178;

    font-family: 'Barlow', sans-serif;
    font-size: 14pt;

    background-color: var(--background);

    overflow-x: hidden;
}

h1 {
    margin: 0;
    font-family: 'Darumadrop One', cursive;
    font-size: 36pt;
    color: var(--background);
    -webkit-text-stroke: 1px var(--main-text);
}

h3 {
    margin: 0 0 0.3em 0;
    font-family: 'Darumadrop One', cursive;
}

a {
    text-decoration: none;
    color: var(--main-text);
}

.homedirect {
    color: var(--background);
    -webkit-text-stroke: 1px var(--main-text);
}

body {
    margin: 0;
}

header {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0 50px 0;
    background: var(--accent);
}

.accounts {
    align-self: self-end;
    padding-right: 10px
}

.headerwaves {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.headerwaves svg {
    position: relative;
    display: block;
    width: calc(126% + 1.3px);
    height: 50px;
    transform: rotateY(180deg);
}

.headerwaves .shape-fill {
    fill: var(--background);
}

.homepage, .shopping, .shopping-cart {
    display: none;
}

.fullmenu {
    display: contents;
}

.contents {
    background-color: var(--background);
    border: 3px solid var(--accent);
    border-radius: 10px;
    margin: 0 1em 1em 1em;
    padding: 0.6em;
}

.browsebar {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.browsebar>*{
    color: var(--background);
    background-color: var(--header-text);
    border: 1px solid var(--accent);
    border-radius: 4px;
    width: 5em;
    text-align: center;
    cursor: pointer;
}

.primary-banner {
    background-image: linear-gradient(45deg, #f1faf8, #8ec0ab);
    border-top: 2px solid var(--header-text);
    border-bottom: 2px solid var(--header-text);
    height: 300px;
    margin-bottom: 1em;
    text-align: center;
    display: grid;
    grid-template-areas: 
        'header'
        'promo'
        'ad-text';

    cursor: pointer;
}

.primary-header {
    grid-area: header;
    font-size: 26pt;
}

.primary-banner-promo {
    width: 200px;
    grid-area: promo;
    margin: auto;
}

.primary-block {
    grid-area: ad-text;
    background-color: var(--accent);
}

.secondary-banners {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
}

.secondary-ad {
    width: 200px;
    height: 300px;
    border-radius: 10px;

    background-color: var(--header-text);
}

.shop-all {
    display: flex;
    flex-wrap: wrap;
}

.listings {
    background-color: var(--background);
    border: 3px solid var(--accent);
    border-radius: 10px;
    margin: 1.3em;
    padding: 0.6em;
    width: 200px;
    height: 180px;
    cursor: pointer;
}

.inner-listing {
    text-align: center;
}

.itempreview {
    width: 150px;
    height: 150px;
}

.single-item {
    text-align: center;

    background-color: var(--background);
    border: 3px solid var(--accent);
    border-radius: 10px;
    margin: 1.3em;
    padding: 0.6em;
}

.price {
    font-weight: 700;
    font-size: 10pt;
}

input[type=number] {
    width: 3em;
}

.order-details {
    word-wrap: break-word;
    text-align: center;
}

.order-details ul {
    list-style-type: none;
    padding: 0;
}

footer {
    font-size: 8pt;
}

/* Tablet Display */
@media screen and (min-width: 680px) {

    .primary-banner {
    grid-template-areas: 
        'promo header'
        'ad-text ad-text';
    }

    .primary-header {
        font-size: 30pt;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .primary-banner-promo {
        width: 250px;
    }

    .secondary-banners {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: unset;
        justify-content: space-around;
    }
}

@media screen and (min-width: 1100px) {

    .primary-banner {
        grid-template-rows: 250px 50px;
    }

    .primary-header {
        font-size: 42pt;
    }

    .primary-banner-promo {
        z-index: 2;
        width: 300px;
    }

    .primary-block {
        text-align: right;
        padding-right: 2em;
    }
}