{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- ref files -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'favicon.ico' %}" >
    <script src="https://kit.fontawesome.com/03c91ce9d4.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" media="all">
    <link rel="stylesheet" href="{% static 'css/print.css' %}" media="print">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://js.stripe.com/v3/"></script>
    <script src="{% static 'js/app.js' %}" defer></script>
    
    <title>{% block title %}STICKER FELLAS - Stickers and More!{% endblock %}</title>
</head>

<body>
    <div id="app">
        {% csrf_token %}
        <header>
            <nav class="accounts">
                <nav>
                {% if user.is_authenticated %}
                    <span>Howdy, <span id="username" @click="openProfile">{{ user.username }}</span>!</span>
                    <a href="{% url 'logout' %}">LOGOUT</a>
                {% else %}
                    <a href="{% url 'login' %}">LOGIN</a> or
                    <a href="{% url 'accounts:signup' %}">SIGN UP</a>
                {% endif %}
                    {% block cart %}
                    <a @click="openCart" class="fa-solid fa-cart-shopping" :class="{addingitem: addingToCart}"></a>[[cartQuantity]]
                    {% endblock %}
                </nav>
            </nav>
            {% block homedirect %}
            <h1 @click="goHome">STICKER FELLAS</h1>
            {% endblock %}
            <div class="headerwaves">
                <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
                    <path d="M0,0V46.29c47.79,22.2,103.59,32.17,158,28,70.36-5.37,136.33-33.31,206.8-37.5C438.64,32.43,512.34,53.67,583,72.05c69.27,18,138.3,24.88,209.4,13.08,36.15-6,69.85-17.84,104.45-29.34C989.49,25,1113-14.29,1200,52.47V0Z" opacity=".25" class="shape-fill"></path>
                    <path d="M0,0V15.81C13,36.92,27.64,56.86,47.69,72.05,99.41,111.27,165,111,224.58,91.58c31.15-10.15,60.09-26.07,89.67-39.8,40.92-19,84.73-46,130.83-49.67,36.26-2.85,70.9,9.42,98.6,31.56,31.77,25.39,62.32,62,103.63,73,40.44,10.79,81.35-6.69,119.13-24.28s75.16-39,116.92-43.05c59.73-5.85,113.28,22.88,168.9,38.84,30.2,8.66,59,6.17,87.09-7.5,22.43-10.89,48-26.93,60.65-49.24V0Z" opacity=".5" class="shape-fill"></path>
                    <path d="M0,0V5.63C149.93,59,314.09,71.32,475.83,42.57c43-7.64,84.23-20.12,127.61-26.46,59-8.63,112.48,12.24,165.56,35.4C827.93,77.22,886,95.24,951.2,90c86.53-7,172.46-45.71,248.8-84.81V0Z" class="shape-fill"></path>
                </svg>
            </div>
        </header>

        {% block navbar %}
        <nav class="contents browsebar">
            <div @click="openShop(null)" @mouseover="menuHover = true" @mouseleave="menuHover = false">SHOP ALL</div>
            <div @click="openShop('S')" class="largeonly-hidden" :class="{submenu: menuHover}"
            @mouseover="menuHover = true" @mouseleave="menuHover = false">STICKERS</div>
            <div @click="openShop('P')" class="largeonly-hidden" :class="{submenu: menuHover}"
            @mouseover="menuHover = true" @mouseleave="menuHover = false">PINS</div>
            <div @click="openShop('H')" class="largeonly-hidden" :class="{submenu: menuHover}"
            @mouseover="menuHover = true" @mouseleave="menuHover = false">HATS</div> 
            {% if user.is_staff %}
            <div @click="openAdmin" class="admin-only">MANAGE</div>
            {% endif %}
        </nav>
        {% endblock %}

        <main class="contents">

            {% block content %}
            <article class="homepage" :class="{'fullmenu':showHome}">
                <section class="primary-banner" @click="openShop('S')">
                    <h1 class="primary-header">STICKERS</h1>
                    <img src="{% static 'ad/primary.png' %}" alt="sticker promo image" class="primary-banner-promo" loading="lazy">
                    <div class="primary-block">Animal designs and more with our die-cut stickers!</div>
                </section>
                <section class="secondary-banners">
                    <div id="small-ad-1" class="secondary-ad" @click="openShop('H')">
                        <h3>FUNNY HATS</h3>
                        <img src="{% static 'ad/ad_hat.png' %}" alt="hat promo image" class="secondary-banner-promo" loading="lazy">
                    </div>
                    <div id="small-ad-2" class="secondary-ad" @click="openShop('P')">
                        <img src="{% static 'ad/ad_pin.png' %}" alt="pin promo image" class="secondary-banner-promo" loading="lazy">
                        <h3>AMAZING PINS</h3>
                    </div>
                    <div id="small-ad-3" class="secondary-ad" @click="openShop('lowstock')">
                        <h3>LOW STOCK ALERT</h3>
                    </div>
                </section>
            </article>

            <article class="admin-panel" :class="{'fullmenu':showAdmin}">
                {% if user.is_staff %}
                <admin-panel></admin-panel>
                {% endif %}
            </article>

            <article class="user-profile" :class="{'fullmenu':showProfile}">
                <h3>{{user.username}}</h3>
                <order-history></order-history>
            </article>

            <article class="shopping-cart" :class="{'fullmenu':showCart}">
                Your cart :
                <shopping-cart :cart="shoppingCart"></shopping-cart>
                <button @click="checkout(shoppingCart)">
                    Proceed to Checkout!
                </button>

            </article>

            <article class="shopping" :class="{'fullmenu':showShop}">
                <section class="shop-all">
                    <item-listings v-if="inventory.length > 0" v-for="item in inventory" class="listings"
                    :listing="item" :key="item.id">
                    </item-listings>
                    <div v-if="inventory.length === 0">
                        Nothing here yet! Check back later. ☺
                    </div>
                </section>
            </article>

            <article class="shopping" :class="{'fullmenu':showProduct}">
                <section class="single-item">
                    <div class="item-actions">
                        <i class="fa-solid fa-bookmark" @click="copyLink(activeProduct.id)"></i>
                        <div v-if="copying" class="copy-message">Link Copied!</div>
                        <i class="fa-solid fa-xmark" @click="openShop(lastFilter)"></i>
                    </div>
                    <h1>[[activeProduct.name]]</h1>
                    <img :src="activeProduct.image" alt="image of product" loading="lazy"/>
                    <div class="price">[[activeProduct.price]]</div>
                    <caption>[[activeProduct.description]]</caption>
                    <p v-if="activeProduct.average_rating != 0">
                        Rating: [[averageRound(activeProduct.average_rating)]]/5
                    </p>
                    <div class="price">[[activeProduct.inventory]] in Stock!</div>
                    <section class="buying">
                        <label for="quantity">Quantity:</label>
                        <input type="number" id="quantity" min="1" default="1" :max="activeProduct.inventory" v-model="buyingNumber">
                        <button @click="addToCart(buyingNumber)">Add to Cart</button>
                    </section>
                    <div v-if="stockError" :class="{outmessage: stockError}">All stock of this product is currently claimed.</div>
                </section>
            </article>

            <article class="reviews" :class="{'fullmenu':showProduct}">
                <h1>Reviews:</h1>
                <product-reviews :listing="activeProduct" 
                    :reviews="activeReviews" :key="activeProduct.id"></product-reviews>
            </article>
            {% endblock %}
        </main>

        <footer>
            <span>Fake LLC©</span><span>FAQ</span><span>About</span>
        </footer>
    </div>  
</body>
</html>
