{% extends 'index.html' %}

{% block title %}Payment Complete!{% endblock %}

{% block homedirect %}
    <h1><a href="{% url 'home' %}" class="homedirect">STICKER FELLAS</a></h1>
{% endblock %}

{% block cart %}
{% endblock %}
{% block navbar %}
{% endblock %}

{% block content %}
    <div class="order-details">
        <h3>Thank you for your order, {{info.customer_details.name}}!</h3>
        <checkout-complete></checkout-complete>
        Stripe Order ID: <strong>{{info.id}}</strong>
        <ul><strong>Order info</strong>:
        {% for product in info.line_items.data %}
            <li>{{product.description}} x{{product.quantity}}</li>
        {% endfor %}
        </ul>

        A copy of this confirmation has been sent to {{ info.customer_details.email }}
    </div>
{% endblock %}